Screen {
    align: center middle;
}

ListView {
    width: 30;
    height: auto;
    margin: 2 2;
}

#card-container {
    align: center middle;
}

#card-front {
    border: $success heavy;
}

#card-back {
    border: $error heavy;
}
