/*
body {
    background-color: #202020;
    color: #c51e3a;
    font-family: 'JetBrains Mono', monospace; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

h1 {
    color: #c51e3a;
    text-align: center;
    margin-bottom: 2vh; 
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    padding: 10px 0; 
    background-color: #202020; 
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw; 
    height: 50vh; 
    gap: 10px;
    margin-top: 5vh; 
}

button {
    background-color: #c51e3a;
    color: #202020;
    font-family: 'JetBrains Mono', monospace;
    border: none;
    padding: 100px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
}

button:hover {
    background-color: #f24f65;
} */
